gitpython>=2.1.8
paramiko==2.4.0,<=2.8.1; python_version=='2.7'
paramiko>=2.4.2,<=2.8.1; python_version>='3.6'
numpy>=1.13.3,<1.22.0 ; python_version=='2.7'
numpy>=1.21.0,<1.24.0 ; python_version>='3.6'
matplotlib>=2.1.1
pyephem>=3.7.6.0
cython>=0.27.3
scipy>=1.0.0
Pillow>=4.3.0
astropy>=2.0.3
imreg_dft @ git+https://github.com/matejak/imreg_dft@master#egg=imreg_dft
configparser==4.0.2
imageio==2.6.1
python-dvr>=0.0.1 ; python_version >='3.6'
pyqtgraph @ git+https://github.com/pyqtgraph/pyqtgraph@develop#egg=pyqtgraph ; python_version=='2.7'
pyqtgraph>=0.12,<0.13 ; python_version >='3.6'
pyyaml; python_version>='3.6'
tflite-runtime; python_version>='3.6' and python_version<'3.10'
# workaround till tensorflow-lite supports python 3.10 on Debian/Ubuntu
tflite-runtime @ https://github.com/hjonnala/snippets/raw/main/wheels/python3.10/tflite_runtime-2.5.0.post1-cp310-cp310-linux_x86_64.whl ; python_version=='3.10'
PyGObject; python_version >= '3.6'
